* {
  font-family: "Helvetica", "Arial", "san-serif";
}

body {
  padding: 0 30px 0 30px;

}
header{
  border-bottom: 10px inline #ccc;
}
header a{
  text-decoration: none;
  }
header ul li{
  display: inline;
  margin-right:10px;
  float:right;
}
header h3 a{
  color: #ccc;
}
